@import 'tailwindcss';

@theme {
  --font-sans: InterVariable, sans-serif;
}

:root {
  font-feature-settings:
    'liga' 1,
    'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: var(--font-sans);
  }
}
